
body {
    font-family: Arial;
    padding: 20px 5% 20px 3%;
}
#header {
    width: 100%;
    height: 130px;
    padding: 10px 15px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #efefef
}

#header h1 {
    margin-top: .3em;
}
.top {
    padding-top: 158px;
}

h2 {
    padding-top: 30px;
}
h3 {
    padding-top: 30px;
}

p {
    margin-bottom: 5px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px
}
table {
    margin-bottom: 25px;
    width: 90%
}
#nav a {
    padding:2em .8em 2em 2em;
}
.dfstyle {
    font-size: 11pt; 
    border-collapse: collapse; 
    border: 1px solid silver;
}

.dfstyle th {
    background: #E0E0E0;
    text-align: center
}
.dfstyle td, th {
    padding: 5px;
}

/*style alternate rows*/
.dfstyle tr:nth-child(even) {
}

.dfstyle tr:hover {
    background: #d3eaf9;
    /*cursor: pointer;*/
}
.section {
    border-left: 3px solid #b1d9f4;
    padding-left: 12px;
    margin-top: 10px
}
.topic {
    margin-bottom: 40px
}
#open-text {
    float: right;
    margin: 40px
    }
#open-text a {
    border: 1px solid #bcbcbc;
    padding: .5em 1.5em;
    background-color: #e9f5fc;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 1.4em;
    text-decoration: none
}
#open-text a:hover {
    background: #bddff6;
    color: #ffffff
}
/*keywords*/
#keywords ul {
    -moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;
}

/*format entity page*/
/* Evenly spaces divs within a larger container */
.outer {margin:auto; text-align:center; overflow:hidden; display:table-row}
.inner {
    display:table-cell; 
    margin:auto; 
    padding: 1em;
    /*vertical-align: middle;*/
    overflow: hidden;
    position:relative;
    width: 200px
    }
* html .inner {display:inline}/* for ie*/
html>body #outer {display:table}/*for mozilla */
html>body .inner {display:table;float:left}/*for mozilla */
@media all and (min-width: 0px){/* opera 7 styles */
html>body .inner {display:inline-block;float:none;}
}
.termhead {
    font-size: larger;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #bebebe;
    margin: 0.8em 1em
}
.termheadlink {
    font-weight: normal;
    font-style: italic;
    font-size: smaller;
}
.container {
    display: table;
    width: 90%;
    margin: auto
}
.row  {
    display: table-row;
}
.pos, .poshead, .poslist {
    /*display: table-cell;*/
    padding: .2em;
    text-align: center;
}
.poshead { 
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    }
.posbody {
    border-left: 1px solid #bfbfbf;
}
.poslist {
    text-align: left;
    margin-left:2em
}

.right, .left {
    display: table-cell;
    paddding: 2em;
    border: 1px solid #bfbfbf;
}
.left {
    width: 30%;
}
.right {
    width: 70%;
}
.moreEntities {
  height: 400px;
  width: 85%;
  padding:.8em;
  margin: 1em auto;
  border-right: 1px solid #bfbfbf;
}
.moreEntitiesContent
{
  height:380px;
  overflow:auto;
  margin-left: 30%
}
/*show/hide content for entity page*/
.content > div {
    display: none;
    margin: auto;
}
.content > div:target {
    display: block;
}
.content > div a.hide {
    display: block;
}
